<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>FASTAPI CHAT - room</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Noto+Sans+KR:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="login-container">
  <div class="login-box">
    <h1>FASTAPI CHAT</h1>
    <p class="subtitle">간단하고 빠른 대화 플랫폼</p>

    <input type="text" id="roomName" placeholder="방이름" />
    <input type="text" id="roomId" placeholder="방번호" />

    <button class="login-btn" onclick="createRoom()">방 새로만들기</button>
    <button class="login-btn" onclick="enterRoom()">방 입장</button>

    <p id="msg" class="message"></p>
  </div>
</div>

<script>
  async function createRoom() {
    await valid(['roomName']);
    const roomNm = document.getElementById("roomName").value.trim();

    const res = await fetch("/rooms/createRooms", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ name })
    });

    if (res.ok) {
      const data = await res.json();
      const roomId = data.room_id;

      localStorage.setItem("roomId", roomId);
      localStorage.setItem("roomNm", roomNm);
      window.location.href = "/chat";
    } else {
      document.getElementById("msg").innerText = "방만들기실패";
    }
  }

  async function enterRoom() {
    await valid(['roomId']);
    const room_id = document.getElementById("roomId").value.trim();

    const res = await fetch("/rooms/selectRooms", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ room_id })
    });

    if (res.ok) {
      const data = await res.json();console.log(data)
      const roomNm = data.name;
      document.getElementById("roomName").value = roomNm;

      localStorage.setItem("roomId", room_id);
      localStorage.setItem("roomNm", roomNm);
      window.location.href = "/chat";
    } else {
      document.getElementById("msg").innerText = "없는방번호";
    }
  }

  async function valid (arr) {
    let valid = true;
    arr.forEach(id => {
      const val = document.getElementById(id).value.trim();
      const name = document.getElementById(id).placeholder;
      if (!val) {
        document.getElementById('msg').innerText = name + "를 입력하세요.";
        valid = false;
      }
    })
    return valid;
  }
</script>
</body>
</html>
